<!-- templates/fragments/footer.html -->
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer" class="bg-dark text-white mt-5 pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h6>GIỚI THIỆU</h6>
        <ul class="list-unstyled small">
          <li><a href="#" class="text-white-50">Về Chúng Tôi</a></li>
          <li><a href="#" class="text-white-50">Thỏa Thuận Sử Dụng</a></li>
          <li><a href="#" class="text-white-50">Chính Sách Bảo Mật</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h6>GÓC ĐIỆN ẢNH</h6>
        <ul class="list-unstyled small">
          <li><a href="#" class="text-white-50">Bình Luận Phim</a></li>
          <li><a href="#" class="text-white-50">Phim Hay Tháng</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h6>HỖ TRỢ</h6>
        <ul class="list-unstyled small">
          <li><a href="#" class="text-white-50">Rạp / Giá Vé</a></li>
          <li><a href="#" class="text-white-50">Tuyển Dụng</a></li>
          <li><a href="#" class="text-white-50">FAQ</a></li>
        </ul>
      </div>
    </div>
    <hr class="border-light">
    <p class="text-center small mb-0">© 2025 D&T Cinema</p>
  </div>
</footer>
>