<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
  <nav class="navbar navbar-expand-lg bg-white shadow-sm">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="https://cdn.galaxycine.vn/media/2025/10/27/trm-500_1761536525591.jpg" alt="Galaxy Cinema" height="40">
      </a>
      <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item"><a class="nav-link" href="#">Phim</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Star Shop</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Sự Kiện</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Rạp/Giá Vé</a></li>
        </ul>
        <div>
          <a class="btn btn-warning me-2" href="#">Mua Vé</a>
          <a class="btn btn-outline-primary" href="#">Đăng Nhập</a>
        </div>
      </div>
    </div>
  </nav>
</header>
